* {
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    text-align: center;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    font-size: 15px;
}


h1 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-block: 0;
}


img {
    display: block;
    border-radius: 20px;
}


.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    inline-size: 70%;
    min-inline-size: 320px;
    max-inline-size: 480px;
}