* {
    box-sizing: border-box;
    margin: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    text-align: center;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    font-size: 15px;
}


h1 {
    font-size: 22px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-block: 0;
}


img {
    display: block;
    border-radius: 20px;
    width: 288px;
}


.wrapper {
    display: flex;
    flex-direction: column;
    max-inline-size: 320px;
    background-color: hsl(0, 0%, 100%);
}


.main-container {
    gap: 24px;
    border-radius: 20px;
    padding: 16px 16px 40px;
}


.content-container {
    gap: 16px;
    padding-inline: 16px;
}