* {
    box-sizing: border-box;
}


body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    text-align: center;
    font-size: 15px;
}


h1 {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-block: 0;
}


img {
    display: block;
    border-radius: 20px;
}


.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    margin-inline: auto;
    /* inline-size: 320px; */
    max-inline-size: 1200px;
}